@import 'tailwindcss';

@theme {
  --color-primary: #ffdf01;
  --color-secondary: #38b6ff;
  --color-third: #fdf4ef;
  --color-fourth: #2c3343;
  --color-fifth: #010205;
  --font-onest: Onest Variable, sans-serif;
  --font-orbitron: "Orbitron Variable", sans-serif;
}
