---
//import Welcome from '../components/Welcome.astro';
import '../styles/global.css';
import { Icon } from 'astro-icon/components'
// Supports weights 400-900
import '@fontsource-variable/orbitron';
import '@fontsource-variable/onest';

import Layout from '../layouts/Layout.astro';
import Project from '../sections/Project.astro'
import Technology from '../sections/Technology.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="p-4">
    <h1 class="text-2xl font-orbitron text-fifth text-center p-6 mt-2">Ilsen Romero Caraballo</h1>
    <img src="2.png" alt="Fondo de la imagen" class="w-80 h-auto m-auto" />
    <p class="text-center font-onest text-xl
     text-gray-500">AÑOS DE EXPERIENCIA <span class="font-orbitron text-secondary text-2xl">2+</span></p>
    <Project />
    <Technology />
    <div class="md:flex md:justify-center">
<p class="font-onest text-lg py-1 px-5 md:px-0 md:w-[780px]">Soy Ingeniera en Sistemas apasionada por el desarrollo de software. Disfruto crear soluciones tecnológicas que hagan la vida más sencilla y eficiente. Me motiva aprender constantemente y enfrentar nuevos desafíos que me permitan crecer profesionalmente en el mundo de la programación y la tecnología.</p>
    </div>
    <div class="flex justify-center gap-4">
    <a href="cv-spanish.pdf" target="_blank" rel="noopener">
      <button class="bg-white text-secondary hover:bg-secondary hover:text-white border border-gray-200 rounded-md shadow-xs    mx-auto flex py-2 px-4 font-medium my-6">
        <Icon class="size-6 mr-1 stroke-current ..." name="download" fill="none" />
        Español CV
      </button>
      
    </a>
    <a href="cv-english.pdf" target="_blank" rel="noopener">
      <button class="bg-white text-secondary hover:bg-secondary hover:text-white border border-gray-200 rounded-md shadow-xs    mx-auto flex py-2 px-4 font-medium my-6">
        <Icon class="size-6 mr-1 stroke-current ..." name="download" fill="none" />
        English CV
      </button>
    </a>
    </div>
  </main>
</Layout>
