---
//import Welcome from '../components/Welcome.astro';
import '../styles/global.css';
// Supports weights 400-900
import '@fontsource-variable/orbitron';
import '@fontsource-variable/onest';

import Layout from '../layouts/Layout.astro';
import Project from '../sections/Project.astro'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="p-4">
    <h1 class="text-2xl font-orbitron text-fifth text-center p-6 mt-2">Ilsen Romero Caraballo</h1>
    <img src="/img/2.png" alt="Fondo de la imagen" class="w-80 h-auto m-auto" />
    <p class="text-center font-onest text-xl text-gray-500">AÑOS DE EXPERIENCIA<span class="font-orbitron text-secondary text-2xl">1+</span></p>
    <Project />
    <p class="font-onest bg-amber-300">Soy Ingeniera en Sistemas apasionada por el desarrollo de software. Disfruto crear soluciones tecnológicas que hagan la vida más sencilla y eficiente. Me motiva aprender constantemente y enfrentar nuevos desafíos que me permitan crecer profesionalmente en el mundo de la programación y la tecnología..</p>
    <button class="border-2">Descargar CV</button>
  </main>
</Layout>
